{% template rank_stat %}
<div class="item">
  <div class="meta"></div>
  <div class="content">
    <span
      class="value value--tnums {{ size | default: 'value--large' }} lg:value--xlarge"
      {% if fit %}
        data-value-fit="true"
      {% endif %}
    >
      {% if value %}
        #{{ value | number_with_delimiter }}
      {% else %}
        Unranked
      {% endif %}
    </span>
    <span class="label">{{ label }}</span>
  </div>
</div>
{% endtemplate %}

{% template value_stat %}
<div class="item">
  <div class="meta"></div>
  <div class="content">
    <span
      class="value value--tnums {{ size | default: 'value--large' }} lg:value--xlarge"
      {% if fit %}
        data-value-fit="true"
      {% endif %}
    >
      {% if value %}
        {{ value | number_with_delimiter }}
      {% else %}
        N/A
      {% endif %}
    </span>
    <span class="label">{{ label }}</span>
  </div>
</div>
{% endtemplate %}

{% template entry_row %}
<div class="item">
  <div class="meta"></div>
  <div class="content">
    <span class="value value--tnums value--xsmall lg:value--small" data-value-fit="true">
      #{{- entry.rank | number_with_delimiter -}}
    </span>
    <span class="label label--small">
      {{ entry.label }}
      {% if entry.value %}
        · {{ entry.valueLabel | downcase }} {{ entry.value | number_with_delimiter }}
      {% endif %}
    </span>
  </div>
</div>
{% endtemplate %}

{% template error_state %}
<div class="markdown">
  <span class="title">{{ instance_title | default: 'RuneScape HiScores' }}</span>
  {% if error %}
    <div class="content">{{ error }}</div>
  {% else %}
    <div class="content">Unable to load {{ gameName | default: 'RuneScape' }} HiScores.</div>
  {% endif %}
  <span class="label label--underline">Check the player name and selected mode</span>
</div>
{% endtemplate %}

{% template title_bar %}
<div class="title_bar">
  <img class="image" src="https://trmnl.com/images/plugins/trmnl--render.svg">
  <span class="title">{{ instance_title | default: 'RuneScape HiScores' }}</span>
  <span class="instance">
    {% if subjectName %}
      {{ subjectName | truncate: 20 }} ·
    {% endif %}
    {{ modeName }}
  </span>
</div>
{% endtemplate %}
